<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Backbone Twitter</title>
		<style>
			.author {
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<h1>Backbone for Twitter</h1>

		<div id="app"></div>

		<script src="underscore.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script src="backbone.js"></script>
		<script>
			(function($) {
				var Tweet = Backbone.Model.extend({
					defaults: {
						author: '',
						status: ''
					}
				});

				var TweetsList = Backbone.Collection.extend({
					model: Tweet
				});

				var TweetView = Backbone.View.extend({
					tagName: 'div',
					events: {
						'click .edit': 'edit',
						'click .delete': 'delete',
						'blur .status': 'close',
						'keypress .status': 'onEnterUpdate'
					},
					initialize: function() {
						this.template = _.template($('#tweet-template').html());
					},
					edit: function(ev) {
						ev.preventDefault();
						this.$('.status').attr('contenteditable', true).focus();
					},
					close: function(ev) {
						var status = this.$('.status').text();
						this.model.set('status', status);
						this.$('.status').removeAttr('contenteditable');
					},
					onEnterUpdate: function(ev) {
						var self = this;
						if (ev.keyCode === 13) {
							this.close();
							_.delay(function() { self.$('.status').blur() }, 100);
						}
					},
					delete: function(ev) {
						ev.preventDefault();
						this.model.destroy();
						this.remove();
					},
					render: function() {
						this.$el.html(this.template(this.model.toJSON()));
						return this;
					}
				});

				var TweetsView = Backbone.View.extend({
					tagName:'div',
					id: 'tweets-container',
					initialize: function() {
						this.collection = new TweetsList();
						this.collection.on('add', this.render, this);
					},
					render: function() {
						var self = this;
						self.$el.html('');

						_.each(this.collection.models, function(tweet) {
							var tweetView = new TweetView({model: tweet});
							self.$el.append(tweetView.render().el);
						});
						return this;
					}
				});

				var AppView = Backbone.View.extend({
					el: $('#app'),
					events: {
						'submit #new-tweet': 'addTweet'
					},
					initialize: function() {
						this.tweetsView = new TweetsView();
						this.template = _.template($('#form-template').html());
						this.render();
					},
					addTweet: function(ev) {
						ev.preventDefault();
						var tweet = new Tweet({ 
							author: $('#author-name').val(), 
							status: $('#status-update').val() 
						});
						this.tweetsView.collection.add(tweet);
					},
					render: function() {
						this.$el.html(this.template());
						this.$el.append(this.tweetsView.render().el);
						return this;
					}
				});

				$(document).ready(function() {
					var appView = new AppView();
				});
				
			})(jQuery);
		</script>

		<!-- Templates -->
		<script type="text/template" id="form-template">
		<form id="new-tweet">
				<label>Author:</label><input id="author-name" name="author-name" type="text" />
				<label>Status:</label><input id="status-update" name="status-update" type="text" />
				<button>Post</button>
			</form>
			<hr />
	 </script>

		<script type="text/template" id="tweet-template">
			<span class="author"><%= author %>:</span>
			<span class="status"><%= status %></span>
			<a href="#" class="edit">[edit]</a>
			<a href="#" class="delete">[delete]</a>
		</script>

		
	</body>
</html>